<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" %>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>

<h1>Work pieces</h1>

<p><%= link_to 'Add new work piece', new_work_piece_path %></p>

<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="work_pieces">
    <% @work_pieces.each do |w| %>
      <tr id="work_piece_<%= w.id %>" class="<%= w.is_visible ? '' : 'is_private' %>">
        <td>
          <%= link_to work_piece_path(w) do %>
            <%= image_tag w.image.url(:small) %>
          <% end %>
        </td>
        <td><%= w.title %></td>
        <td><%= w.description %></td>
        <td class="actions">
          <%= link_to 'Show details', work_piece_path(w) %> |
          <%= link_to 'Edit', edit_work_piece_path(w) %> |
          <%= link_to 'Delete', work_piece_path(w), method: :delete,
            data: { confirm: 'Are you sure?' } %> |
          <span class="handle">[Drag to reorder]</span> |
          <%= link_to w.is_visible ? 'Hide in portfolio' : 'Show in portfolio', work_piece_change_visibility_path(w), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
  var $workPieces;

  function sendSortOrderUpdate() {
    $.ajax({
      type: 'post',
      data: $workPieces.sortable('serialize'),
      dataType: 'script',
      complete: onSortOrderUpdated,
      url: '<%= sort_work_pieces_path %>?authenticity_token=' + encodeURIComponent(AUTH_TOKEN)
    });
  }

  function onSortOrderUpdated() {
    $workPieces.effect('highlight');
  }

  $(document).ready(function() {
    $workPieces = $('#work_pieces');

    $workPieces.sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'chrosshair',
      items: 'tr',
      opacity: 0.6,
      placeholder: 'sortable-placeholder',
      scroll: true,
      update: sendSortOrderUpdate
    });
  });
</script>
