<h1>Settings</h1>
<%= form_tag settings_path, method: :put, multipart: true do %>
  <% @settings.each_pair do |setting_key, setting_value| %>
    <div class="setting">

      <%= label_tag setting_key %>
      <% if [:site_logo].include? setting_key.to_sym %>
        <%= file_field_tag "settings[#{setting_key}]", accept: 'image/png,image/gif,image/jpeg' %>
        <% if setting_value.present? %>
          <%= image_tag setting_value, alt: setting_key %>
        <% else %>
          (No image currently set.)
        <% end %>
      <% elsif @boolean_settings.include? setting_key.to_sym %>
        <%= check_box_tag "settings[#{setting_key}]", "1", setting_value %>
      <% elsif @multiple_option_settings.include? setting_key.to_sym %>
        <%= collection_select("settings", setting_key, @multiple_option_settings[setting_key.to_sym], :to_sym, :as_readable_option, { :selected => setting_value }) %>
      <% else %>
        <%= text_field_tag "settings[#{setting_key}]", setting_value %>
      <% end %>

    </div>
  <% end %>
  <%= submit_tag %>
<% end %>
